<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    <header class="header">
        <h1 class="title">Административная панель</h1>
        <button class="logout-button" onclick="logout()">Выйти</button>
    </header>
    <div class="container">
        <div class="btn-column">
            <div class="btn-container">
                <button id="word-remove-btn">🗑</button>
                <button id="words-back-btn">🔙</button>
                <button id="word-fact-btn">🖼</button>
                <input type="number" min="0" max="100" step="1" value="50">
                <button id="delete-word-btn" hidden>Удалить</button>
                <button id="move-word-btn" hidden>Переместить</button>
                <button id="reorder-words-btn" hidden>Изменить порядок слов</button>
                <button id="add-word-btn" hidden>Добавить слово</button>
            </div>

        </div>
        <div class="btn-column">
            <div class="btn-container">
                <input type="radio" id="radio-uid" name="trying-sort" value="uid" checked>
                <label for="radio-uid">🆔</label>
                <input type="radio" id="radio-start" name="trying-sort" value="start">
                <label for="radio-start">🚀</label>
                <input type="radio" id="radio-done" name="trying-sort" value="done">
                <label for="radio-done">🏁</label>
                <input type="radio" id="radio-top" name="trying-sort" value="top">
                <label for="radio-top">🏅</label>
            </div>

            <div class="btn-container">
                <button id="control-ai-btn">🤖</button>
                <button id="reset-ai-btn">♻️</button>
                <button id="train-ai-btn">🏋</button>
                <button id="user-rate-btn">🏆</button>
                <button id="trying-graph-btn">📈</button>
                <button id="trying-distr-btn">📊</button>
            </div>
        </div>
        <div class="btn-column">
            <div class="btn-container">
                <input type="radio" id="radio1" name="version-sort" value="index">
                <label for="radio1">ℹ️</label>
                <input type="radio" id="radio2" name="version-sort" value="time" checked>
                <label for="radio2">⌚️</label>
                <input type="radio" id="radio3" name="version-type" value="main" checked>
                <label for="radio3">🏛</label>
                <input type="radio" id="radio4" name="version-type" value="top10">
                <label for="radio4">🔟</label>
            </div>

            <div class="btn-container">
                <button id="skip-user-btn">⛔️</button>
                <button id="alpha-user-btn">👑</button>
                <button id="graph-vers-btn">📉</button>
                <button id="graph-user-btn">📊</button>
                <button id="first-words-btn">👀</button>
                <button id="user-transactions-btn">💰</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="column">
            <h2 id="word-header" data-word-id="{{ dict_all.word_id }}">Слова</h2>

            <label for="dropdown">Выберите элемент:</label>
            <select id="dropdown">
                {% for item in dict_all.word_month %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <input type="text" id="search-word" placeholder="Введите слово..." >
            <ul id="word-list">
                <li>Здесь появятся слова за выбранный месяц</li>
            </ul>
        </div>
        <div class="column">
            <h3 id="trying-header" data-word-id="{{ dict_all.word_id }}">{{ dict_all.text_header | safe }}</h3>
            <ul id="trying-list">
                <!-- Перебор пользователей из словаря -->
                {% for user_data in dict_all.dict_result %}
                    <li data-trying-id="{{ user_data.t_id }}"

                        title="{{ user_data.title }}"

                        style="background-color: {{ user_data.color }};"

                        onclick="loadUserVersions('{{ user_data.t_id }}')">

                        {{ loop.index}}. {{ user_data.text | safe }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <h2 id="version-header">Версии</h2>

            <ul id="version-list">
                <li>Выберите пользователя для отображения версий</li>
            </ul>
        </div>
    </div>
    <script src="/static/script.js"> </script>
</body>
</html>
